
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$primary-background: #39414f;
$primary-background-selected: #121519;

$down-vote-color: #dc3545;
$up-vote-color: #28a745;
