.fc-media-object {
  background-color: darkcyan;
  cursor: pointer;

  &:hover {
    background-color: darkgoldenrod;
  }
}

.fc-media-object-img {
  max-width: 100%;
  object-fit: contain;

}

.fc-media-object-title {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}
