@import "../app.component.scss";

.fc-body {
  background-color: $body-background;
  color: #ddd5c4;
}

//Selected media object

.fc-media-selected {
  background-color: $primary-background;
  margin-bottom: 20px;
}

.fc-media-selected-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.fc-media-selected-desc {
  text-align: left;
}


.fc-media-selected-votes {
  font-weight: bold;
  height: 30px;

  .fc-media-selected-votes-up {
    color: $up-vote-color;
    float: left;
    margin-left: 15px;
  }
  
  .fc-media-selected-votes-down {
    color: $down-vote-color;
    float: right;
    margin-right: 15px;
  }
}

//Media object list
.fc-media-object {
  background-color: $primary-background;
  cursor: pointer;

  &:hover {
    background-color: $primary-background-selected;
  }
}

.fc-media-object-img {
  max-width: 100%;
  object-fit: contain;

}

.fc-media-object-title {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}
